# Xcode
build/
DerivedData/
*.xcworkspace
!*.xcworkspace/contents.xcworkspacedata
xcuserdata/
*.xcscmblueprint
*.xccheckout

# Swift Package Manager
.build/
Packages/
Package.resolved
*.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/

# CocoaPods
Pods/

# Firebase
GoogleService-Info.plist

# Secrets
*.env
.env.*

# OS
.DS_Store
*.swp
*~
