<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSCameraUsageDescription</key>
    <string>CashOverflow ha bisogno della fotocamera per scansionare gli scontrini.</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>CashOverflow ha bisogno di accedere alla galleria per selezionare foto di scontrini.</string>
</dict>
</plist>
